---
layout: default
bodyClass: index
redirect_from:
- "/work/"
- "/blog/"
---

  {% for post in site.posts limit:10 %}
  <article>
    <header>
      <h1><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
      <p class="post-date">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%A %-d %B %Y" }}</time>
      </p>
    </header>
    <div>
      {{ post.excerpt }}
      <p><a class="btn btn-primary mt-4 mb-5 px-4" href="{{ post.url }}" role="button">Read more</a></p>
    </div>
  </article>
  {% endfor %}

{% assign post_count = site.posts | size %}
{% if post_count > 10 %}
<nav class="my-5 py-5" role="navigation">
	<h2 class="visually-hidden">Posts navigation</h2>
	<p><a href="{{ site.baseurl }}/blog/page/2/" class="btn btn-secondary btn-block">Older posts</a></p>
</nav>
{% endif %}
