<footer class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="site-credits">
      Powered by <a href="http://eichefam.net/projects/cover/" title="Cover theme by Paul Eiche">Cover</a>
    </div>
    <nav class="social-navigation">
      <div class="menu-social-footer-container">
        <ul class="menu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-390"><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-fw social-icon" aria-hidden="true"></i><span class="screen-reader-text">Twitter</span></a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389"><a href="https://plus.google.com/106837556918973875033"><i class="fa fa-fw social-icon" aria-hidden="true"></i><span class="screen-reader-text">Google+</span></a></li>
          {% if site.github_username %}
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-388"><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-fw social-icon" aria-hidden="true"></i><span class="screen-reader-text">GitHub</span></a></li>
          {% endif %}
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-387"><a href="https://www.linkedin.com/profile/view?id=38596560"><i class="fa fa-fw social-icon" aria-hidden="true"></i><span class="screen-reader-text">LinkedIn</span></a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-386"><a href="https://instagram.com/bforben_/"><i class="fa fa-fw social-icon" aria-hidden="true"></i><span class="screen-reader-text">Instagram</span></a></li>
        </ul>
      </div>
    </nav>
	</div>
</footer>
<script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/assets/script.js" async></script>
