
<a class="skip-navigation" href="#main">Skip to content</a>
<header class="container-fluid justify-content-md-center">
    <div class="row">
        <div class="col-9 col-md-9 pl-md-5"">
            <a href="{{ "/" | prepend: site.baseurl }}" class="site-logo ml-md-4" rel="home">
                <img src="https://secure.gravatar.com/avatar/bae457ea71d62adc8033409bb14d2ee8?s=53&amp;d=blank&amp;r=pg" alt="{{ site.title }}" class="avatar" height="53" width="53">
            </a>
            <a href="{{ "/" | prepend: site.baseurl }}" class="site-title ml-md-3 align-middle" rel="home">{{ site.title }}</a>
            <span class="align-middle sep d-none d-md-inline">&middot;</span>
            <span class="align-middle site-description d-none d-md-inline">{{ site.description }}</span>
        </div>
        <div class="col-3 col-md-2 text-right">
            <ul class="list-inline list-social">
                <li class="list-inline-item"><a href="https://twitter.com/{{ site.twitter_username }}" title="View Ben's profile on Twitter">{% include twitter.svg %}<span class="sr-only">Twitter</span></a></li>
                <li class="list-inline-item d-none d-md-inline"><a href="https://github.com/{{ site.github_username }}" title="View Ben's profile on GitHub">{% include github.svg %}<span class="sr-only">GitHub</span></a></li>
                <li class="list-inline-item d-none d-sm-inline"><a href="https://www.linkedin.com/profile/view?id=38596560" title="View Ben's profile on LinkedIn">{% include linkedin.svg %}<span class="sr-only">LinkedIn</span></a></li>
            </ul>
        </div>
    </div>
</header>