---
---
$body-color: #313135 !default;
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: Montserrat, $font-family-sans-serif !default;
$headings-font-weight: 700 !default;

$font-size-base: 1.25rem !default;

$line-height-base: 1.58 !default;

//$enable-responsive-font-sizes: true;

$h1-font-size: $font-size-base * 3 !default;

@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/functions";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/variables";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/mixins";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/root";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/reboot";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/type";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/images";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/code";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/grid";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/transitions";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/media";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/utilities";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/print";
@import "/Library/Ruby/Gems/2.6.0/gems/bootstrap-4.4.1/assets/stylesheets/bootstrap/buttons";

.skip-navigation {
    @include sr-only;
    @include sr-only-focusable;
}

body > header {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.index {
    h1 {
        font-size: 3rem;
    }
}
.site-title {
    font-weight: 700;
    font-family: $headings-font-family;
    font-size: 1.6rem;
}
.site-description {
    color: $gray-700;
}
h1 a,
.site-title { 
    color: inherit;
}

h1 a:hover,
.site-title:hover { 
    text-decoration: underline;
    color: inherit;
}
.site-logo:hover { text-decoration: none; }
.post-date { 
    margin-top: 1.5rem;
    color: $gray-700;
    font-weight: 700;
 }
.avatar {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.list-social a:hover img {
    fill: red;
}
@media screen and (prefers-color-scheme: dark) {
    body { 
        background-color: #1c1c21;
        color: #e3e3e3;
    }
    .site-description {
        color: #e3e3e3;
    }
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
  }