---
title: Blog
layout: default
bodyClass: index
---

{% for post in paginator.posts %}
<article>
  <header>
    <h1><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
    <p class="post-date">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%A %-d %B %Y" }}</time>
    </p>
  </header>
  <div>
    {{ post.excerpt }}
    <p><a class="btn btn-primary mt-4 mb-5 px-4" href="{{ post.url }}" role="button">Read more</a></p>
  </div>
</article>
{% endfor %}
  

{% if paginator.total_pages > 1 %}
<nav class="my-5 py-5" role="navigation">
  <h2 class="visually-hidden">Posts navigation</h2>
  {% if paginator.previous_page %}
  <p><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-secondary btn-block">Newer posts</a></p>
  {% endif %}
  {% if paginator.next_page %}
  <p><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-secondary btn-block">Older posts</a></p>
  {% endif %}
</nav>
{% endif %}
