---
layout: default
bodyClass: single
---
<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
	  <div id="posts" class="minimal ">
      <article class="post type-post status-publish format-standard hentry category-local-gov">

    
		
    <header class="entry-header">
      <h2 class="entry-subtitle"><a href="https://ben.cheetham.me.uk/blog/category/local-gov/" rel="category tag">Local Gov</a></h2>
			<h1 class="entry-title"><a href="https://ben.cheetham.me.uk/blog/2015/04/mapping-your-systems/" rel="bookmark">{{ page.title }}</a></h1>
      <div class="entry-meta">
        <span class="posted-on"><a class="author vcard url fn n" href="https://ben.cheetham.me.uk/blog/author/ben/"><img alt="Profile Picture for Ben" src="https://secure.gravatar.com/avatar/bae457ea71d62adc8033409bb14d2ee8?s=35&amp;d=blank&amp;r=pg" srcset="https://secure.gravatar.com/avatar/bae457ea71d62adc8033409bb14d2ee8?s=70&amp;d=blank&amp;r=pg 2x" class="avatar avatar-35 photo" height="35" width="35">  <span class="name">Ben</span></a> on  <a href="https://ben.cheetham.me.uk/blog/2015/04/mapping-your-systems/" rel="bookmark"><time class="entry-date published" datetime="2015-04-30T21:52:58+00:00">30 April  2015</time><time class="updated" datetime="2015-04-30T21:58:19+00:00">30 April  2015</time></a></span>
      </div><!-- .entry-meta -->
    </header><!-- .entry-header -->

    <div class="entry-summary">
        {{ content }}

    </div><!-- .entry-summary -->
        
        
        
      </article>
    </div>
	</main><!-- #main -->
</div><!-- #primary -->
